<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
  <head>
    {{- partial "meta.html" . -}}
    {{- partial "style.html" . -}}
  </head>
  <body>
    {{ $isPage := (or (eq (default "" .Kind) "page") (eq (default "" .Page.Params.layout) "page")) }}
    {{ $isSection := (or (eq (default "" .Kind) "section") (eq (default "" .Page.Params.layout) "section")) }}
    <div class="flux-docs {{ if (or $isPage $isSection) }}page-bg{{ end }}">
      {{- partial "header.html" . -}}
      {{ block "main" . }}
      {{ end }}
      {{- partial "scripts.html" . -}}
    </div>
  </body>
</html>
