{{ $baseUrl := "/" }}
{{ $breadcrumbUrl := "" }}
<nav role="navigation" class="border-bottom box-shadow breadcrumb-bg breadcrumb-nav">
  <div class="container{{ if .Site.Params.fluid }}-fluid{{ end }}">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <ol class="breadcrumb breadcrumb-bg">
          {{ template "breadcrumb" dict "page" . "value" (printf "<li class='breadcrumb-item'>%s</li>" .Title) }}
        </ol>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{- partial "search-input.html" (dict "placeholder" (T "searchPlaceholder")) -}}
      </div>
    </div>
  </div>
</nav>

{{ define "breadcrumb" }}
  {{ if eq .page.Kind "taxonomy" }}
    <li class="breadcrumb-item">
      <a href="{{ "/tags/" | relLangURL }}">{{ T "tagsTitle" }}</a>
    </li>
    <li class="breadcrumb-item">{{ humanize .page.Title }}</li>
  {{ else if eq .page.Kind "taxonomyTerm" }}
    <li class="breadcrumb-item">{{ T "tagsTitle" }}</li>
  {{ else }}
    {{$parent := .page.Parent }}
    {{ if $parent }}
      {{ $value := (printf "<li class='breadcrumb-item'><a href='%s'>%s</a></li>%s" $parent.RelPermalink $parent.Title .value) }}
      {{ template "breadcrumb" dict "page" $parent "value" $value }}
    {{else}}
      {{.value|safeHTML}}
    {{end}}
  {{ end }}
{{ end }}
