{{ $fluid := (default (default false .Site.Params.fluid) .Page.Params.fluid) }}
{{ if (default .Site.Params.autoGenCards true) }}
<div class="container{{ if $fluid }}-fluid{{ end }} fx-cards">
  <div class="row">
  {{ range $idx, $page := .Sections.ByWeight }}
    <div class="col-md-3 col-sm-4 fx-card">
      <a href="{{ $page.RelPermalink }}">
        {{- partial "icon.html" (dict "icon" $page.Params.icon "color" (default (default "#5a5a5a" .Site.Params.pageIconColor) $page.Params.iconColor) "brand" (default false $page.Params.iconbrand)) -}}
        <h4>{{ $page.Title }}</h4>
        <p>{{ $page.Params.description }}</p>
      </a>
    </div>
  {{ end }}
  </div>
</div>
{{ end }}
