{{ $fluid := (default (default false .Site.Params.fluid) .Page.Params.fluid) }}
{{ $fullmenu := (default (default false .Site.Params.fullmenu) .Page.Params.fullmenu) }}

<div class="container{{ if $fluid }}-fluid{{ end }} page-content {{ if $fluid }}page-content-fluid{{ end }}">
  <div class="row">
    {{ if .Params.hideSideMenu }}
      <div class="col-sm-12 content-box">
        {{- partial "tags.html" . -}}
        {{- partial "toc.html" . -}}
        {{ .Content }}
        {{- partial "page-footer.html" . -}}
      </div>
    {{ else }}
      <div class="{{ if $fluid }}col-xl-2 col-lg-3 col-sm-4{{ else if $fullmenu }}col-md-3{{ else }}col-md-4 order-last{{ end }}">
        {{ if $fullmenu }}
          {{- partial "side-menu" . -}}
        {{ else }}
          {{- partial "page-side-menu" . -}}
        {{ end }}
      </div>
      <div class="content-box {{ if $fluid }}col-xl-10 col-lg-9 col-sm-8{{ else }}col-md-8{{ end }}">
        {{- partial "tags.html" . -}}
        {{- partial "toc.html" . -}}
        {{ .Content }}
        {{- partial "page-footer.html" . -}}
      </div>
    {{ end }}
    {{- partial "back-to-top.html" . -}}
  </div>
</div>
