{{ $current := .Page }}
<ul class="nav flex-column">
  {{ with .Parent }}
    {{ range $idx, $page := .Sections.ByWeight }}
      <li class="nav-item sidebar-link{{ if (eq $page.RelPermalink $current.RelPermalink) }} active{{ end }}">
        <a class="nav-link" href="{{ $page.RelPermalink }}">
          {{- partial "icon.html" (dict "icon" $page.Params.icon "iconColor" (default .Site.Params.pageIconColor $page.Params.iconColor)) -}}
          {{.Title}}
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
