{{ $page := .Page }}
<aside>
  {{ with .Parent }}
    {{ $parent := cond .Page.IsHome $page .Page }}
    <div class="dropdown page-sections-select">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
        {{- partial "icon.html" (dict "icon" $parent.Params.icon "iconColor" (default .Site.Params.pageIconColor $parent.Params.iconColor)) -}}
        <span class="page-sections-text">
          {{ T "pageSelectDesc" }}
          <br>
          <strong>{{ $parent.Title }}</strong>
        </span>
        <i class="fas fa-chevron-down select-icon"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {{ range .Site.Sections }}
          <a href="{{ .RelPermalink }}" class="dropdown-item{{ if (eq $parent.RelPermalink .RelPermalink) }} active{{ end }}">
            <span class="pl-2">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
    </div>

    {{ $.Scratch.Set "pages" $parent.Pages }}
    {{ if .Sections}}
      {{ $.Scratch.Set "pages" ($parent.Pages | union $parent.Sections) }}
    {{end}}
    {{ $pages := ($.Scratch.Get "pages") }}
    {{ if (gt (len $pages) 0) }}
      <h3>{{ cond (not $parent.Params.indexTitle) (T "indexTitle") $parent.Params.indexTitle }}</h3>
      <ul class="nav flex-column">
        {{ range $idx, $page := $pages.ByWeight }}
          <li class="nav-item page-index-link">
            <a class="nav-link" href="{{ $page.RelPermalink }}">{{.Title}}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
</aside>
