{{ $page := .Page }}
<aside>
  {{ with .Parent }}
    {{ $parent := cond .Page.IsHome $page .Page }}
    {{ $pages := cond (ne $parent.Sections nil) ($parent.Pages | union $parent.Sections) $parent.Pages }}
    {{ $sections := $parent.Parent.Sections }}

    <div class="dropdown page-sections-select">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
        {{- partial "icon.html" (dict "icon" $parent.Params.icon "color" (default .Site.Params.pageIconColor $parent.Params.iconColor) "brand" (default false $parent.Params.iconbrand)) -}}
        <span class="page-sections-text">
          {{ T "pageSelectDesc" }}
          <br>
          <strong>{{ $parent.Title }}</strong>
        </span>
        <i class="fas fa-chevron-down select-icon"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {{ range $sections }}
          <a href="{{ .RelPermalink }}" class="dropdown-item{{ if (eq $parent.RelPermalink .RelPermalink) }} active{{ end }}">
            <span class="pl-2">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
    </div>

    {{ if (gt (len $pages) 0) }}
      <h3>{{ cond (not $parent.Params.indexTitle) (T "indexTitle") $parent.Params.indexTitle }}</h3>
      <ol class="nav flex-column page-side-menu-items">
        {{ range $idx, $item := $pages.ByWeight }}
          <li class="nav-item page-index-link{{ if (eq $page.RelPermalink $item.RelPermalink) }} current{{ end }}">
            <a class="nav-link" href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>
          </li>
        {{ end }}
      </ol>
    {{ end }}
  {{ end }}
</aside>
