<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{"assets/vendor/fontawesome/css/all.min.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
<link href="{{"assets/vendor/bootstrap/bootstrap.min.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
<link href="{{"assets/vendor/auto-complete/auto-complete.min.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
<link href="{{"assets/vendor/datatables/datatables.bootstrap4.min.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
<link href="{{"assets/vendor/mermaid/mermaid.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
<link href="{{"assets/css/theme.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
<link href="{{"assets/css/code-highlight.css" | relURL}}?{{ now.Unix }}" rel="stylesheet">
