{{ $fluid := (default (default false .Site.Params.fluid) .Page.Params.fluid) }}
{{ $fullmenu := (default (default false .Site.Params.fullmenu) .Page.Params.fullmenu) }}

{{ if default true .Site.Params.pageTOC }}
{{ $toc := default "true" .Page.Params.toc }}
{{ if eq $toc "true" }}
<div class="page-toc d-print-none {{ if (or $fluid $fullmenu) }}page-toc-fluid{{ end }}">
  <label class="toc-label"><i class="fas fa-list-alt"></i> {{ T "tocLabel" }}</label>
  {{ .TableOfContents }}
</div>
{{ end }}
{{ end }}
