<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
  <head>
    {{- partial "meta.html" . -}}
    {{- partial "style.html" . -}}
  </head>
  <body>
    <div class="page">
      {{- partial "header.html" . -}}
      {{ $layout := cond (default false .Site.Params.fluid) (default "section" .Page.Params.layout) (default "home" .Page.Params.layout) }}

      {{ if eq $layout "page" }}
        <div class="content-wrapper">
          {{- partial "breadcrumbs.html" . -}}
          {{- partial "layout-page.html" . -}}
          {{- partial "footer.html" . -}}
        </div>
      {{ else if eq $layout "section" }}
        {{- partial "breadcrumbs.html" . -}}
        {{- partial "layout-section.html" . -}}
        {{- partial "footer.html" . -}}
      {{ else }}
        {{- partial "layout-home.html" . -}}
        {{- partial "footer.html" . -}}
      {{ end }}

      {{- partial "scripts.html" . -}}
    </div>
  </body>
</html>
