<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
  <head>
    {{- partial "meta.html" . -}}
    {{- partial "style.html" . -}}
  </head>
  <body>
    {{- partial "header.html" . -}}
    {{ $layout := cond (default false .Site.Params.fluid) (default "section" .Page.Params.layout) (default "home" .Page.Params.layout) }}

    {{ if eq $layout "page" }}
      {{- partial "breadcrumbs.html" . -}}
      {{- partial "layout-page.html" . -}}
    {{ else if eq $layout "section" }}
      {{- partial "breadcrumbs.html" . -}}
      {{- partial "layout-section.html" . -}}
    {{ else }}
      {{- partial "layout-home.html" . -}}
    {{ end }}

    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
  </body>
</html>
