{{ $icon := .Get "icon" }}
{{ $brand := default "" (.Get "brand") }}
{{ $color := default "" (.Get "color") }}
{{ $tooltip := default "" (.Get "tooltip") }}
{{ $size := default "" (.Get "size") }}

{{ if ne $tooltip "" }}<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ $tooltip }}">{{ end }}

{{ if hasPrefix $icon "fa-" }}
<i class="fx-icon {{ if (eq $brand "true") }}fab{{ else }}fas{{ end }} {{ $icon }}" style="{{ if ne $color "" }}color: {{ $color }};{{ end }}{{ if ne $size "" }}font-size: {{ $size }}; width: {{ $size }}{{ end }}"></i>
{{ else }}
<img class="fx-icon" src="{{ $icon }}" style="{{ if ne $size "" }}width: {{ $size }}{{ end }}">
{{ end }}

{{ if ne $tooltip "" }}</span>{{ end }}
