{{ $url := .Get "url" }}
{{ $alt := default "" (.Get "alt") }}
{{ $width := default "" (.Get "width") }}
{{ $height := default "" (.Get "height") }}
{{ $align := default "" (.Get "align") }}
{{ $alignClass := cond (ne $align "") (cond (eq $align "left") "mr-auto d-block" (cond (eq $align "right") "ml-auto d-block" "mx-auto d-block")) "" }}

{{ $params := "" }}
{{ $params = cond (ne $alt "") (printf "%s%s%s%s" $params " alt=\"" $alt "\"") $params }}
{{ $params = cond (ne $align "") (printf "%s%s%s%s" $params " class=\"" $alignClass "\"") $params }}

{{ $style := "" }}
{{ $style = cond (ne $height "") (printf "%s%s%s%s" $style " height: " $height ";") $style }}
{{ $style = cond (ne $width "") (printf "%s%s%s%s" $style " width: " $width ";") $style }}

{{ $imageTag := printf "<img src='%s' style='%s' %s />" $url $style $params }}

<a class="lightbox" href="#" data-featherlight="{{ $url }}">
{{ $imageTag | safeHTML }}
</a>
