{{ $id := now.UnixNano }}
{{ $url := .Get "url" }}
{{ $width := default "" (.Get "width") }}
{{ $height := default "" (.Get "height") }}
{{ $controls := default "false" (.Get "controls") }}
{{ $muted := default "true" (.Get "muted") }}
{{ $autoplay := default "true" (.Get "autoplay") }}
{{ $align := default "" (.Get "align") }}
{{ $alignClass := cond (ne $align "") (cond (eq $align "left") "mr-auto d-block" (cond (eq $align "right") "ml-auto d-block" "mx-auto d-block")) "" }}

{{ $params := "" }}
{{ $params = cond (eq $controls "true") (printf "%s%s" $params " controls") $params }}
{{ $params = cond (eq $muted "true") (printf "%s%s" $params " muted") $params }}
{{ $params = cond (eq $autoplay "true") (printf "%s%s" $params " autoplay loop") $params }}
{{ $params = cond (ne $align "") (printf "%s%s%s%s" $params " class=\"" $alignClass "\"") $params }}

{{ $style := "" }}
{{ $style = cond (ne $height "") (printf "%s%s%s%s" $style " height: " $height ";") $style }}
{{ $style = cond (ne $width "") (printf "%s%s%s%s" $style " width: " $width ";") $style }}

{{ $videoTag := printf "<video id='%d' playsinline style='%s' %s>" $id $style $params }}

<a class="lightbox" data-featherlight="#{{ $id }}">
  {{ $videoTag | safeHTML }}
    <source src="{{ .Get "url" }}.webm" type="video/webm"/>
    <source src="{{ .Get "url" }}.mp4" type="video/mp4" />
  </video>
</a>
